<%- include head %>
    <link href="style/register.css" rel="stylesheet">
  </head>
  <body>
    <div class="container reg-box">
    	<div class="row reg-box-header text-center">
    	  <a class="form-logo" href="/">
            <img src="img/logo.png" alt="nodejsblog" width="200px">
          </a>
    	</div>
    	<form class="row reg-box-form well" method="post">
    	  <div class="col-xs-6">
            <div class="form-group">
              <label class="control-label" for="username">用户名</label>
              <input class="form-control" id="username" name="username" required="required" type="text">
            </div>
            <div class="form-group">
              <label class="control-label" for="password">密码</label>
              <input class="form-control" id="password" name="password" required="required" type="password">
            </div>
            <div class="form-group">
              <label class="control-label" for="password2">密码确认</label>
              <input class="form-control" id="password2" name="password2" required="required" type="password">
            </div>
            <div class="form-group">
              <label class="control-label" for="email">邮箱</label>
              <input class="form-control" id="email" name="email" required="required" type="email">
            </div>
    	  </div>
    	  <div class="col-xs-6">
            <div class="form-group">
              <label class="control-label" for="icon">头像选择</label>
              <img src="uploads/icon/default01.jpg" width="120px" style="display:block;margin:14px 0;" id="img-icon">
              <select class="form-control" id="icon" name="icon">
                <option value="01">头像01</option>
                <option value="02">头像02</option>
                <option value="03">头像03</option>
              </select>
            </div>
            <div class="form-group" style="padding-top:15px;">
              <input class="btn btn-lg btn-success btn-block" name="commit" type="submit" value="注册">
            </div>
    	  </div>
    	</form>
    	<div class="row reg-box-footer">
        <% if (error!="") { %>
          <div class="alert alert-danger" role="alert"><%= error %></div>
        <% } %>
        <% if (success!="") { %>
          <div class="alert alert-success" role="alert"><%= success %></div>
        <% } %>
      </div>
    </div>
    <%- include footer %>
    <%- include script %>
  </body>
</html>
